body{
	background: #E0C9A6;
	color: black;
	width: 800px;
}
body *{
	margin-left: 5px;
	font-family: "Old Standard TT";
}
div.moving-text {
	font-size: 1.3em;
	font-style: italic;
	padding: 15px;
}
ul{
    margin-left: -20px;
}

.audio-player,
.main-table{
	width: 800px;
}


.main-table td{
	vertical-align: top;
	padding: 5px;
	border: 2px;
}

#datepicker,#timepicker{
    width: 165px;
	border: 2px solid grey;
}

#ui-datepicker-div{
	box-shadow: 1px 1px 2px 1px #efefef;
	color: #99000;
	background: #CCCC99;
}
a:-webkit-any-link{
	color: #990000 !important;
}