.hidden {
    display: none;
}

html {
    background: #1d1d1d;
}

.commands-header {
    color: rgb(235, 63, 63);
}


.survey-commands a {
    flex: 1 1 auto;
    min-width: 120px;
}

.survey-commands {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 10px;
    background: #252526;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
}

.survey-commands>* {
    display: list-item;
    list-style-type: disc;
    margin-left: 20px;
}

.editor-toolbar {
    padding: 10px;
    background: #252526;
    color: white;
    border-bottom: 1px solid #444;
}

#toolbar {
    display: flex;
    flex-direction: column;
    height: 160px;
    /* or your default */
    min-height: 120px;
    max-height: 160px;
    overflow: hidden;
    resize: none;
    /* manual resizing is JS-driven */
    position: relative;
}

.toolbar-inner {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    overflow: auto;
}

.resize-handle.vertical {
    height: 5px;
    width: 100%;
    cursor: row-resize;
    background: #444;
}

.editor-toolbar.collapsed .editor-toolbar-body {
    max-height: 0;
    opacity: 0;
}

.toolbar-toggle {
    position: absolute;
    bottom: 4px;
    right: 10px;
    z-index: 10;
    background: transparent;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.editor-toolbar button {
    width: 35px;
}

.editor-toolbar .tabs button,
.editor-toolbar button#toggleFoldBtn,
.editor-toolbar .save-buttons button {
    width: max-content;
}

.editor-toolbar .right-side,
.editor-toolbar .left-side {
    gap: 5px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
}

.editor-container select,
.editor-container input {
    background: #333;
    color: white;
    border: none;
    padding: 5px;
    font-size: 14px;
}

.container-fluid {
    background-color: #1d1d1d;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    height: 90vh;
    background-color: #1d1d1d;
}

#mainEditorWrapper {
    flex: 1;
    min-width: 0;
    height: 100vh;

}

.toolbox .commands-header {
    text-transform: uppercase;
    padding-left: 5px;

}

.toolbox {
    width: auto;
    min-width: 200px;
    max-width: 500px;
    /* <- limit rightward resizing */

    transition: width 0.2s ease;
    height: 98vh;
    background: #252526;
    color: white;
    padding: 20px;
    position: relative;
    overflow: auto;
}

#toolboxWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;

    width: inherit;
    transition: width 0.3s ease;
    overflow: hidden;
    position: relative;
}

#toolbar {
    flex: 1;
    min-height: 100px;
    overflow: auto;

}

#toolboxWrapper.collapsed {
    width: 40px;
    /* collapsed width */
}

#toolboxWrapper.collapsed .commands-header,
#toolboxWrapper.collapsed .survey-commands {
    display: none;
}

.toolbox-toggle {
    position: absolute;
    top: 10px;
    left: 6px;
    background: transparent;
    border: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    z-index: 5;
    height: 100%;
    border: 1px solid silver;
    border-radius: 5px;
}

.resize-handle.horizontal {
    cursor: ew-resize;
    width: 5px;
    background-color: #444;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: col-resize;
    background: #444;
}

.nav-tabs .nav-item {
    white-space: nowrap;
}

.nav-tabs .nav-link {
    color: #ccc;
}

.nav-tabs .nav-link.active {
    background-color: #343a40;
    color: #fff;
    border-color: #495057 #495057 #212529;
}

.editor-container {
    flex-grow: 1;
    min-width: 60%;
    overflow: hidden;
    background-color: #1d1d1d;
}

.editor {
    width: 100%;
    min-height: 85vh;
    height: 90vh;
    background: #1e1e1e;
    padding: 10px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    max-width: 600px;
    width: max-content;
    margin: auto;
    margin-top: 10%;
}

.modal select,
.modal input {
    width: 230px;
}

.CodeMirror {
    min-height: 80vh;
    max-height: 85vh;
    line-height: 1;
    font-size: 14px;
}

.command-box {
    display: none;
    position: absolute;
    background: #252526;
    color: white;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    z-index: 100;
}

.command-box input {
    background: #333;
    color: white;
    border: none;
    padding: 5px;
    font-size: 14px;
    width: 200px;
}

.secondary-commands {
    padding: 5px;
    background: #252526;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    list-style-type: none;
}

.secondary-commands li {
    padding: 5px;
    cursor: pointer;
}

.secondary-commands li:hover,
.secondary-commands li.selected {
    background: #444;
}

#saveNotification {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #257428;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

#tabs {
    display: flex;
    padding: 5px;
    border-bottom: 2px solid #ccc;
}

#addTabButton {
    width: 50px;
    font-size: 12px;
    height: 25px;

}

.tab {
    width: 65px;
    max-width: 70px;
    height: 25px;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    margin-right: 0.5rem;
    background-color: #f8f9fa;
    cursor: pointer;
    position: relative;
}

.tab-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 0.5rem;
}

.tab:hover {
    overflow: visible;
    white-space: normal;
    z-index: 1000;
    background: #fff;
}

.tab.active {
    background: #4CAF50;
    color: white;
    font-weight: bold;
}

.tab span {
    display: inline-block;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.close-tab {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6px;
    background: none;
    border: none;
    color: #888;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}

.close-tab:hover {
    color: #ff4d4d;
    /* Slight red tint on hover */
}

#tabContextMenu.dropdown-menu {
    display: none;
    position: absolute;
    transition: opacity 0.15s ease-in-out;
    z-index: 1060;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.15);
    min-width: 180px;
    padding: .5rem 0;
    border-radius: .375rem;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    width: fit-content;
}

#tabContextMenu .dropdown-item:hover {
    background-color: var(--bs-dropdown-link-hover-bg);
    color: var(--bs-dropdown-link-hover-color);
}

.dropdown-menu.show {
    display: block;
}

.CodeMirror.dragging {
    border-color: #28a745;
}

.CodeMirror-dialog-top {
    height: 35px;
    background: #ffef17;
}

.CodeMirror-dialog-top .CodeMirror-search-label {
    color: rgb(102, 102, 102);
}


.resizable {
    position: relative;
}